
<launch>

  <arg name="depth_image_topic"  default="/pepper_robot/naoqi_driver/camera/depth/camera_info"/>
  <arg name="depth_camera_info"  default="/pepper_robot/naoqi_driver/camera/depth/image_raw"/>

  <!-- Nodelet manager for this pipeline -->
  <node pkg="nodelet" type="nodelet" args="manager"
        name="record_player_manager" output="screen"/>

  <node pkg="nodelet" type="nodelet" name="cloudify" args="load depth_image_proc/point_cloud_xyz record_player_manager --no-bond" output="screen">
    <remap from="image_rect" to="/pepper_robot/naoqi_driver/camera/depth/image_raw"/>
    <remap from="camera_info" to="/pepper_robot/naoqi_driver/camera/depth/camera_info"/>
</node>

<node pkg="pointcloud_to_laserscan" type="pointcloud_to_laserscan_node" name="ptol" output="screen">
    <remap from="cloud_in" to="/points"/>
    <remap from="target_frame" to="CameraDepth_optical_frame"/>
</node>


 


</launch>


